<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="main body(mass added)">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.047473 0.91463 0.3072"
        rpy="0 0 0" />
      <mass
        value="1.7093" />
      <inertia
        ixx="0.0004649"
        ixy="-6.7637E-20"
        ixz="-3.9217E-21"
        iyy="0.00071923"
        iyz="-2.7655E-19"
        izz="0.0004649" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link 1">
    <inertial>
      <origin
        xyz="0.081385 -0.14288 0.013177"
        rpy="0 0 0" />
      <mass
        value="0.3802" />
      <inertia
        ixx="0.00014368"
        ixy="1.7415E-18"
        ixz="3.6434E-05"
        iyy="0.0040734"
        iyz="-6.2003E-19"
        izz="0.0042067" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint 1"
    type="revolute">
    <origin
      xyz="-0.16273 -0.039204 0.86778"
      rpy="0 0 -0.65279" />
    <parent
      link="base_link" />
    <child
      link="link 1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link 2">
    <inertial>
      <origin
        xyz="-0.085575 -0.019273 -7.3413E-15"
        rpy="0 0 0" />
      <mass
        value="0.3131" />
      <inertia
        ixx="7.144E-05"
        ixy="1.6072E-05"
        ixz="1.7957E-18"
        iyy="0.00069651"
        iyz="-9.3387E-20"
        izz="0.00063648" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint 2"
    type="revolute">
    <origin
      xyz="0 0 0.012377"
      rpy="-1.5708 0 1.2615" />
    <parent
      link="link 1" />
    <child
      link="link 2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link 3">
    <inertial>
      <origin
        xyz="0.0055268 -0.18601 0.017031"
        rpy="0 0 0" />
      <mass
        value="9.25" />
      <inertia
        ixx="0.028386"
        ixy="5.7075E-06"
        ixz="9.8079E-06"
        iyy="0.041168"
        iyz="1.3954E-06"
        izz="0.062196" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint 3"
    type="revolute">
    <origin
      xyz="0.039525 -0.037973 -0.10069"
      rpy="0 0.60872 0" />
    <parent
      link="link 2" />
    <child
      link="link 3" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link 4">
    <inertial>
      <origin
        xyz="0.042787 -0.017701 0.07411"
        rpy="0 0 0" />
      <mass
        value="0.3131" />
      <inertia
        ixx="0.00049522"
        ixy="8.0359E-06"
        ixz="-0.00024467"
        iyy="0.00069651"
        iyz="1.3919E-05"
        izz="0.0002127" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint 4"
    type="revolute">
    <origin
      xyz="-0.09 -0.373 0.06"
      rpy="3.1416 -0.43848 3.1416" />
    <parent
      link="link 3" />
    <child
      link="link 4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link 5">
    <inertial>
      <origin
        xyz="0.1492 -0.019823 0.069122"
        rpy="0 0 0" />
      <mass
        value="0.3802" />
      <inertia
        ixx="0.0040458"
        ixy="3.0541E-06"
        ixz="-0.00032825"
        iyy="0.0042067"
        iyz="3.6306E-05"
        izz="0.0001713" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint 5"
    type="revolute">
    <origin
      xyz="0 -0.016351 0"
      rpy="0 -1.4404 0" />
    <parent
      link="link 4" />
    <child
      link="link 5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link 6">
    <inertial>
      <origin
        xyz="-2.2204E-16 0.04085 4.4409E-16"
        rpy="0 0 0" />
      <mass
        value="1.7093" />
      <inertia
        ixx="0.0004649"
        ixy="-1.8026E-18"
        ixz="0"
        iyy="0.00071923"
        iyz="2.352E-18"
        izz="0.0004649" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main body(mass added)/meshes/link 6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint 6"
    type="fixed">
    <origin
      xyz="0.1637 0.0547 0.24147"
      rpy="3.1416 -0.98914 0" />
    <parent
      link="link 5" />
    <child
      link="link 6" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>